/*
 *
 */

.listFilter {
    position: fixed;
    top: 0;
    right: 50px;
    max-height: 100%;
    overflow: auto;
    font-size: medium;
    z-index: 1000;
    display: none;
    border: thin solid grey;
    padding: 4px;
    background: white;
    list-style-type: none;
}

.headerFilter {
    text-align: center;
    font-weight: bold;
    color: grey;
}

.ulFilter s {
    list-style-type: none;
    padding: 4px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    height: 150px;
}

.toggleFilter {
    position: fixed;
    top: 0px;
    right: 10px;
    color: grey;
    z-index: 2000;
}