/*
 *
 */
:root {
  color-scheme: light dark;
}

.subfilt-config {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
}

#subfilt-config-checkbox {
  display: none;
}

.subfilt-config-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
#subfilt-config-checkbox:checked ~ .subfilt-config-backdrop {
  display: block;
}

.subfilt-config-toggle {
  all: revert;
  z-index: 200;
  position: fixed;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  background: orange url("data-url:assets/config-open.svg") no-repeat center;
  transition: transform 0.5s;
  transform-origin: 50% 50%;
}

#subfilt-config-checkbox ~ .subfilt-config-toggle {
  transform: rotate(0deg);
}
#subfilt-config-checkbox:checked ~ .subfilt-config-toggle {
  transform: rotate(45deg);
}

.subfilt-config-pane {
  all: revert;
  --subfilt-config-width: 240px;
  position: fixed;
  top: 0;
  right: 0;
  box-sizing: border-box !important;
  margin: 20px 0;
  padding: 4px;
  width: var(--subfilt-config-width);
  max-height: calc(100% - 40px);

  background-color: canvas;
  background-clip: padding-box;
  border: 2px solid gray;
  font: caption;

  display: flex;
  flex-flow: column nowrap;

  transform: translate(var(--subfilt-config-width), 0);
  transition: transform 0.5s;
}

/* @media (prefers-color-scheme: dark) {
  .subfilt-config-pane {
    background-color: canvas;
  }
} */

#subfilt-config-checkbox:checked ~ .subfilt-config-pane {
  transform: translate(-20px, 0);
}

.subfilt-config-pane header h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: larger;
}

.subfilt-config-pane hr {
  width: 96%;
}

.subfilt-config-pane label {
  all: revert;
  display: list-item;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.subfilt-config-pane input[type="checkbox"] {
  margin-right: 4px;
}

.subfilt-config-pane ul {
  all: revert;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  margin: 4px 0;
  padding: 4px 0;
  list-style: none;
  overflow-y: auto;
}

.subfilt-config-pane footer {
  all: revert;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.subfilt-config-pane footer button {
  all: revert;
  min-height: 20px;
}

.subfilt-config-pane footer button label :first-child {
  display: none;
}
